* {
  box-sizing: border-box;
}

body {
  background-image: url(../images/background\ -image.jpg);
  background-attachment: fixed;
  background-size: cover;
  font-family: Arial;
  margin: 0;
}

header {
  padding: 40px;
  text-align: center;
  /*background: #1;*/
  color: #fff;
}

nav {
  display: block;
  background-color: whitesmoke;
}

nav a {
  color: #13293d;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

main {
  display: flex;
  flex-wrap: wrap;
}

footer {
  align-items: baseline;
  padding: 20px;
  text-align: center;
  background: #13293d;
  color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
}

header img {
  height: 300px;
  width: 300px;
}
.large-box {
  display: block;
  text-align: center;
  background-image: url(../images/jeremy-bishop-itYOt_CSv1s-unsplash.jpg);
  padding: 45px;
  height: auto;
  border: 8px solid black;
}

.code-image {
  image-rendering: url(..//images/codecode.jpeg);
  width: 100%;
  max-height: auto;
}

@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
  }
}
